<div class="container">
    <div class="row" style="margin-top: 3%;">
        <div class="col-md-6">
            <h3>Product Entry</h3>
            <hr />
            <form>
                <div class="form-group">
                    <label>Product Id</label>
                    <input type="text" [(ngModel)]="productData.id" name="id" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Product Name</label>
                    <input type="text" [(ngModel)]="productData.name" name="name" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Product Type</label>
                    <input type="text" [(ngModel)]="productData.producttype" name="type" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Product Desc</label>
                    <input type="text" [(ngModel)]="productData.description" name="desc" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Product Price</label>
                    <input type="text" [(ngModel)]="productData.price" name="price" class="form-control" />
                </div>
                <input type="button" class="btn btn-primary" *ngIf="!updateBtn" value="Save" (click)="addProduct()" />
                <input type="button" class="btn btn-primary" *ngIf="updateBtn" value="Update" (click)="updateProduct()" />
                <input type="button" class="btn btn-secondary" value="Reset" (click)="resetProuct()" />
            </form>
            <h4 *ngIf="showMsg" style="margin-top: 3%;" class="alert alert-success">
                Product added successfully...!
            </h4>
        </div>
        
        <div class="col-md-6">
            <app-productlist (productItemEmitter)="displayProduct($event)" [productlistdata]="productlist"></app-productlist>
        </div>
    </div>


</div>
